**/.classpath
**/.dockerignore
**/.env
**/.gitignore
**/.gitkeep
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/[Bb]in
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/[Oo]bj
.idea
.code
.git
.vs
.vscode
.gitignore
.gitattributes
.editorconfig
.fleet
*.DotSettings
*.DotSettings.User
docker-compose*.yml
dc.local.yaml
LICENSE
README.md
[Tt]mp